//main: main.scss

.pong{
  height: 100vh;
  width: 100vw;
  position: relative;
  background-color: black;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  .paddle{
    width: 13px;
    height: 160px;
    y: calc(50% - 80px);
    stroke: white;
    fill: white;

    &.right{
      x: calc(100% - 15px);
    }
    &.left{
      x: 0%;
    }
  }


  // .center{
  //   position:absolute;
  //   width: 0.09vw;
  //   height: 100vh;
  //   background-color: white;
  //   opacity: 0.5;
  //   left: 50%;
  //   transform: translateX(-50%);
  // }
  .ball{
    width: 15px;
    height: 15px;
    x: calc(50% - 7.5px);
    y: calc(50% - 7.5px);
    // border-radius: 50%;
  }
  .score{
    position: absolute;
    color: white;
    left: 50%;
    transform: translateX(-50%);
    font-family: sans-serif;
    font-size: 4em;
    font-family: 'Press Start 2P', cursive;

  }

}
