//main: main.scss
.overlay{
  position: absolute;
  height: 100vh;
  width: 100vw;
  text-align: center;
  font-size: 3em;
  background-color: black;
  color: white;
  z-index: 999;
  font-family: "Press Start 2P";
  display: none;
  &.isVisible{
    display: inline-block;
  }
  >P{
    font-size: 1.5em;
  }
  .buttonWrapper{
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    button{
      background-color: black;
      color: white;
      font-family: "Press Start 2P";
      width: 40vw;
      padding: 30px;
      margin: 15px;
      font-size: 1.5em;
    }
  }
}
.pong{
  height: 100vh;
  width: 100vw;
  position: relative;
  background-color: black;
  display: flex;
  justify-content: space-between;
  overflow: hidden;

  .score{
    font-family: "Press Start 2P";
    font-size: 90vh;
    fill: white;
    opacity: 0.08;
    &.left{
      transform: translate(-2%, 102%);
    }
    &.right{
      transform: translate(50%, 102%);
    }
  }
  .paddle{
    width: 13px;
    height: 160px;
    y: calc(50% - 80px);
    stroke: white;
    fill: white;
    &.right{
      x: calc(100% - 15px);
    }
    &.left{
      x: 0%;
    }
  }


  // .center{
  //   position:absolute;
  //   width: 0.09vw;
  //   height: 100vh;
  //   background-color: white;
  //   opacity: 0.5;
  //   left: 50%;
  //   transform: translateX(-50%);
  // }
  .ball{
    width: 15px;
    height: 15px;
    x: calc(50% - 7.5px);
    y: calc(50% - 7.5px);
    // border-radius: 50%;
  }


  .wall {
    stroke-width: 2px;
  }

}
