//main: main.scss
.home{
  height: 100vh;
  background-color: black;
  color: white;
  font-family: "Press Start 2P";
  display: flex;
  flex-direction: column;
  p{
    margin: 0;
    padding-top: 10vh;
    text-align: center;
    font-size: 4em;
    flex-basis: 10%;
    >span{
      font-size: 3em;
    }
  }
  .buttonWrapper{
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-basis: 90%;
    a{
      display: inline-block;
      margin: 0 auto;
      button{
        background-color: black;
        color: white;
        font-family: "Press Start 2P";
        width: 40vw;
        padding: 30px;
        font-size: 2em;
      }
    }
  }


}
